.j1{
  height: 300px;
  background: url(../img/img1.jpg);
}

.j2{
  height: 50px;
  margin-bottom: 50px;
  margin-top: -35px;
  background: gray;
}

.rounded-circle{
  margin-top: -200px;
  margin-left: 50px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.container-fluid{
}
